@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@400;700&display=swap');

.App {
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color:#cbd5e1 ;
}
input {
  padding: 1rem;
  width: 80%;
}

span {
  margin: 1rem;
}

.output {
  margin: 1rem;
}

